* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-color: #15181a;
    color: white;
}
/* welcome section */
#welcome{
    background-color: black;
    color: white;
}
#welcome>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;

}
#welcome>section>h1{
    font-size: 2rem;
}
#welcome>section>p{
    font-size: 2rem;
}
#welcome>section>h3{
    font-size: 1rem;
}
#welcome>section>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    animation: myAnimation 2s 1s infinite;
}
#welcome>section>div>div{
    width: 10px;
    height: 10px;
    border: 3px solid white;
    transform: rotate(135deg);
    border-bottom: none;
    border-left: none;
    cursor: pointer;
    
}
#welcome>section>div>div:nth-child(1){
    animation: scrollAnimation 1s linear infinite ;
}
#welcome>section>div>div:nth-child(2){
    animation: scrollAnimation 2s linear 2s infinite ;
}
#welcome>section>div>div:nth-child(3){
    animation: scrollAnimation 2s linear 3s infinite ;
}
/* animations of welcome section */
@keyframes scrollAnimation {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.6;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
        border-color: green;
    }
}
@keyframes myAnimation {
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(-5px);
    }
}
/* header */
header{
    
}
header>nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header>nav>ul{
    display: flex;
}
header>nav>ul>li{
    list-style: none;
    margin: 15px;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    width: fit-content;
}
header>nav>ul>li>a:hover{
    border-bottom: 3px solid rgb(191, 191, 115);
}
/* hero section */
hero{
    
}
hero>main{
     
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
hero>main>section:first-child>button{
    background-color: #15181a;
    border: 1px solid rgb(191, 191, 115);
    color: rgb(191, 191, 115);
    margin-right: 10px;
    font-size: 0.8rem;
    padding: 5px;
    margin-top: 10px;
    width: 20%;
}
hero>main>section:first-child{
    place-self: center end;
}
hero>main>section:first-child>p{
    width: 80%;
}
hero>main>section:first-child>button:hover{
    background-color:rgb(191, 191, 115) ;
    color: #15181a;
    border: #15181a;
}

hero>main>img{
    width: 20%;
    opacity: 0.8;
    box-shadow: rgb(0, 0, 0) 0px 10px 20px, rgb(0, 0, 0) 0px 6px 6px;
    
}
hero>section{
    display: flex;
    justify-content: center;
}
hero>section>img{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin-top: -50px;
    
}
#aboutMe{
    margin-top: 50px;
    display: flex;
    height: 500px;
    align-items: center;
}
#aboutMe>section{
    display: flex;
    justify-content: center;
}
#aboutMe>section>img{
    width: 25%;
    height: fit-content;
    place-self: center start;
    margin-right: 5px;
}
#aboutMe>section>div{
    place-self: start start;
    margin-left: 5px;

}
#aboutMe>section>div>h1{
    margin: 0;
    padding: 0;
}
#aboutMe>section>div>h1>span{
    color: rgb(191, 191, 115);
}
#aboutMe>section>div>p{
    margin: 0;
    padding: 0;
    width: 100%;
}
#aboutMe>section>div>div{
    width: 100%;
    box-shadow: rgba(125, 125, 125, 1) 0px 50px 100px -20px, rgba(131, 131, 131, 1) 0px 30px 60px -30px, rgba(112, 112, 112, 1) 0px -2px 6px 0px inset;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    align-content: center;
}
#aboutMe>section>div>div>h1{
    font-size: 0.8rem;
    color: rgb(148, 148, 148);
    padding: 5px;
    width: 20%;
    display: inline-block;
    
}
@media all and (max-width:1024px) {
    html{
        font-size: 90%;
    }
    hero>main{
     
        height: 400px;
        
    
    }
    #aboutMe>section>img{
        width: 30%;
    }
}
@media all and (max-width:768px) {
    html{
        font-size: 80%;
    }
    hero>main>img{
        width: 25%;
        
    }
    #aboutMe>section>img{
        width: 38%;
    }
    #aboutMe>section{
        padding: 10px;
    }
}
@media all and (max-width:426px){
    html{
        font-size: 70%;
    }
    header>nav{
        display: none;
    }
    hero>main{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    hero>main>section:first-child{
        padding: 10px;
    }
    hero>main>section:first-child>p{
        width: 100%;
    }
    hero>section>img{
        width: 20px;
        height: 20px;
        padding: 3px;
        margin-top: -9%;
       
        
    }
    hero>main>img{
        width: 35%;
    }
    #aboutMe{
        margin-top: 100px;
    }
    #aboutMe>section>img{
        width: 60%;
    }
    #aboutMe>section{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
    }
    #aboutMe>section>div{
        padding: 10%;
        
        
    }

}
@media all and (max-width:321px) {
    html{
        font-size: 60%;
    }
}
